@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  background-color: #F9F9F9;
}

.intro {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.img-titulo {
  display: flex;
  height: 6em;
  justify-content: center;
}

.img-titulo img {
  height: 6em;
}

.divButton-iniciar{
  display: flex;
  justify-content: center;
}
.button-iniciarTeste {
  justify-content: center;
  margin-top: 0em;
  width: 12em;
  height: 2.3em;
  border-radius: 10px;
  border: none;
  background-color: #7B2CBF;
  color: white;
  cursor: pointer;
  font-weight: 750;
  padding: 3px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.button-iniciarTeste:hover {
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  background-color: #6931ad;
}

.boasVindas {
  display: flex;
  justify-content: center;
  color: #7B2CBF;
  margin: 1em 0em 1.5em 0em;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.imagens-demonstrativas {
  height: 1.5em;
  
}

.explicacao {
  margin: 0.5em 0.5em 0.5em 0.6em;
  color: #333333;
}

.explicacao em {
  font-weight: 600;
}

.explicacao i {
  margin-right: 0.4em;
}

.conjunto-img-texto{
  display: flex;
  align-items: center;
  margin-left: 4em;
}

.opcoes{
  margin: 0.5em 0 0.5em 9em;
}

.explicacao-tracos {
  color: #6d5ab8;
  text-align: center;
  margin: 1em 0 1.5em 1.5em;
}

.txt{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.txt-aposResponder{
  text-align: justify;
  width: 90%;
}

.text-cliqueParaComecar {
  color: #7B2CBF;
  margin-left: 0.3em;
}

.destaque-suave {
  padding: 0.8em;
  margin: 0.5em 0;
  border-radius: 8px;
  color: #333;
  font-weight: 500;
}