@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  background-color: #F9F9F9;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5em;

}

.button-iniciarTeste {
  justify-content: center;
  margin-top: 4em;
  width: 10em;
  height: 2.3em;
  border-radius: 10px;
  border: none;
  background-color: #7B2CBF;
  color: white;
  cursor: pointer;
  font-weight: 750;
  padding: 3px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.button-iniciarTeste:hover {
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  background-color: #6931ad;
}

.boasVindas {
  display: flex;
  justify-content: center;
  color: #7B2CBF;
  margin: 1em 0em 1.5em 0em;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.explicacao {
  display: flex;
  justify-content: center;
  color: #333333;
  line-height: 1.7;
}

.explicacao em {
  margin: 0 0.3em 0 0.3em;
  font-weight: 600;
}

.explicacao i {
  margin-right: 0.4em;
}

.explicacao-tracos {
  color: #6d5ab8;
  text-align: center;
  margin-bottom: 1.5em;
}

.text-boaSorte {
  color: #7B2CBF;
  margin-left: 0.3em;
}

@keyframes destaqueDeslizante {
  0% {
    transform: translateY(-10px);
    opacity: 0;
    background-color: #D0E7FF;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
    background-color: #EAF4FF;
  }
}

.destaque-suave {
  animation: destaqueDeslizante 1s ease-out;
  background-color: #EAF4FF;
  border-left: 5px solid #7B2CBF;
  padding: 0.8em;
  margin: 1em 0;
  border-radius: 8px;
  color: #333;
  font-weight: 500;
  margin-top: 4em;
}