body{
    background-color: #F9F9F9;
}

.question-screen{
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    font-size: 1.2em; 
    background: linear-gradient(135deg, #E6E0F8 0%, #CFC6F9 100%);
}

.pergunta-numero{
    display: flex;
    justify-content: center;
    color:#7B2CBF;
    margin: 0em 0em 1.5em 0em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.caixa-pergunta{
    display: flex;
    background-color: #6d5ab825;
    height: 7em;
    width: 60%;
    border: 3px solid #7B2CBF;
    margin-bottom: 3em;
    align-items: center;
    justify-content: center;
    padding: 4em;
    box-shadow: 0 2px 8px rgba(123, 44, 191, 0.3);
}

.perguntas{
    display: flex;
    text-align: justify;
    justify-content: center;
    font-size: 1.5em;
    font-weight: 600;
    letter-spacing: 0.05em;
    color: #333333;
}

.buttons-opcoes{
    display: flex;
    justify-content: center;
    gap: 1em;
}

.button-opcao{
    width: 17em;
    height: 2.5em;
    border-radius: 10px;
    border: none;
    background-color: #7B2CBF;
    color: white;
    cursor: pointer;
    font-weight: 760;
    margin-top: 9em;
    padding: 8px;
    transition: background-color 0.3s, transform 0.2s, opacity 0.2s;
}

.button-opcao:hover{
    opacity: 0.9;
}

.recomendacao{
    color: #333333;
    font-weight: 600;
    margin-top: 3em;
    font-size: 1.2em;
}