.result-screen{
    min-height: 100vh;
    height: 100vh;
    display: flex;
    padding-top: 1em;
    font-size: 1.2em;
    background: linear-gradient(135deg, #E6E0F8 0%, #CFC6F9 100%);
}

.resultCenter{
    flex-direction: column;
    align-items: center;
}

.result-screen ul{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    max-height: calc(100vh - 25.5em);
    min-height: 60px;
    gap: 0.8em;
    box-sizing: border-box;
    padding: 1.5em 6em 0 6em;
}

.result-screen ul li{
    list-style: none;
    text-align: justify;
}

.result-screen ul::-webkit-scrollbar {
    width: 6px;
}

.result-screen ul::-webkit-scrollbar-thumb {
    background-color: #7B2CBF;
    border-radius: 6px;
}

.result-screen ul::-webkit-scrollbar-track {
    background: transparent;
}

.result-screen strong{
    color: #7B2CBF;
}

.titulo-result{
    color: #7B2CBF;
    margin: 0.5em 0 1.2em 0;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.result-traco{
    color: #6d5ab8;
}

.caixa-result{
    background-color: #7a2cbf0c;
    border: 0.18em solid #7B2CBF;
    padding: 0 3em 1.5em 3em;
    border-radius: 1em;
    margin-top: 2em;
}

.caixa-result p{
    font-weight: 500;
    color: #333333;
}

.titulo-traco-dominante{
    color: #7B2CBF;
    margin-bottom: 0.3em;
}

.botoes-sobre-refazer{
    display: flex;
    justify-content: center;
    gap: 1em;
    bottom: 1.5em;
    margin-top: 1em;
}

.buttons{
    width: 17em;
    height: 2.5em;
    border-radius: 10px;
    border: none;
    background-color: #7B2CBF;
    color: white;
    cursor: pointer;
    font-weight: 760;
    border: 2px solid transparent;
    transition: background-color 0.3s, transform 0.2s, opacity 0.2s;
}

.buttons:hover{
    opacity: 0.9;
}

.mensagem-refazer{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
}