.resultTotal{
    flex-direction: column;
    background: linear-gradient(135deg, #E6E0F8 0%, #CFC6F9 100%);
    font-size: 1.2em;
}

.result-screen h1{
    color: #7B2CBF;
    margin-bottom: 1em;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.explicacao-geral{
    font-weight: 700;
    text-align: justify;
    max-width: 85%;
    margin: 0 auto 2.5em auto;
    color: #333333;
    font-size: 1.05em;
}

.toggle{
    display: flex;
    width: 20em;
    height: 2em;
    margin-left: 1.5em;
    color: #7B2CBF;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    font-size: 1.2em;
    transition: background-color 0.3s, transform 0.2s, opacity 0.2s;
}

.toggle i {
    font-weight: 900;
    color: #83befd;
}

.tracosResumidos{
    bottom: 10px; 
    width: 100%;
    padding: 10px 0;
}

.descricao{
    font-size: 0.5m;
    text-align: justify;
    color: #333333;
    font-weight: 500;
    margin: 0 1.5em 0.5em 1.9em;
}